////// INCLUDE VENDOR IN ALL SCSS FILE ///////
@import '~vendors-scss/vendor';
/////////////////////////////////////////////

@import '~assets/scss/fonts/roboto';
@import '~assets/scss/fonts/montserrat';
@import '~assets/scss/fonts/icomoon';
@import '~assets/scss/partials/donations';
@include FontRoboto(400);
@include FontRoboto(700);
@include FontIcomoon(700);
@include FontMontserrat(100);
@include FontMontserrat(400);
@include FontMontserrat(500);
@include FontMontserrat(600);
@include FontMontserrat(700);
@include FontMontserrat(900);

body{
   background: $secondary-color;
   font-family: 'Montserrat';
   margin: 0 auto;
   width: 100%;
   display: block;
   *{
      box-sizing: border-box;
   }
   @media #{$breakpoint-xl-up} {
      .mW{
         max-width: 1200px;
      }
   }
   a{
      text-decoration: none;
      color: inherit;
   }
   h2{
      font-weight: 700;
      text-transform: uppercase;
   }
   img {
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
   .container{
      // max-width: 1180px;
      padding:0 15px;
      margin:0 auto;
      width: 100%;
   }
   .right{
      text-align: right;
   }
   .center{
      text-align:center;
   }
   .btn {
      background: $primary-color;
      // border: 2px solid $primary-color;
      color: #ffffff;
      font-size: 18px;
      font-weight: 900;
      display: inline-block;
      padding: 18px 0;
      border-radius: 50px;
      cursor: pointer;
      text-decoration: none;
      letter-spacing: 2px;
      position: relative;
      overflow: hidden;
      text-transform: uppercase;
      white-space: nowrap;
      outline: none;
      width: 100%;

      &:before {
         font-family: "icomoon";
         content: "";
         position: absolute;
         height: 100%;
         font-size: 100%;
         line-height: 3.4;
         color: #fff;
         transition: all 0.3s;
         left: 130%;
         top: 0;
      }

      &:hover {
         background-color: $primary-color;
         border-color: $primary-color;

         &:before {
            left: 86%;
         }
      }
   }
   .btn-don{
      background: $business-color;
      border: 2px solid $business-color;
      &:hover {
         background-color: $business-color;
         border-color: $business-color;
      }
   }
   header{
      width: 100%;
      background:url($img-path+'bg-header.jpg') center no-repeat;
      background-size: cover;
      // height: 1560px;
      padding-bottom: $gutter;
      .container-top{
         padding-top: $gutter*2;
         margin-bottom: $gutter*2;
         @media #{$breakpoint-xl-up} {
            margin-bottom: 140px;
         }
         .share img{
            transition: transform 0.3s ;
            &:hover{
               transform: scale(1.2) ;
            }
         }
      }
      .block-title{
         font-weight: 700;
         &.center{
            @media #{$breakpoint-xl-up} {
               text-align: left;
            }
         }
         .title-page{
            color:$secondary-color;
            margin-bottom: 30px;
            font-size: 22px;
            span{
               background: $primary-color;
               padding:10px $gutter/2;
               display: inline-block;
               font-size: 22px;
               @media #{$breakpoint-xl-up} {
                  font-size: 36px;
               }
            }
         }
         .sub-title-page{
            color: $primary-color;
            font-size: 21px;
            margin-bottom: 80px;
            
            span{
               background: $secondary-color;
               display: inline-block;
               padding:8px $gutter;
               margin-bottom: 8px;
            }
            @media #{$breakpoint-xl-up} {
               font-size: 2.125rem;
            }
         }
      }
      .blockdon{
         margin: 0 auto;
         // max-width: 420px;
         display: flex;
         justify-content: center;
         @media #{$breakpoint-xl-up} {
            display: flex;
            justify-content: flex-end;
         }
      }
      @media #{$breakpoint-xl-up} {
         height:824px;
         .between{
            justify-content: space-between;
         }
      }
   }
   .section2{
      height: 320px;
      @media #{$breakpoint-xl-up} {
         height: 470px;
      }
      .container{
         padding-top: $gutter*2;
         @media #{$breakpoint-xl-up} {
            padding-top: 141px;
         }
         h2{
            color:$primary-color;
            font-size: 25px;
            text-transform: uppercase;
            @media #{$breakpoint-xl-up} {
               font-size: 2.625rem;
            }
         }
         .block-column{
            position:relative;
            top:50px;
            z-index: 5;
            @media #{$breakpoint-xl-up} {
               top:76px;
            }
         }
         .column{
            margin-bottom: 65px;
            &:not(:first-child){
               .colum-inner{
                  background: $secondary-color;
                  color:$primary-color;
                  box-shadow:5px 5px 12px 1px  rgba(0,0,0,0.3);
                  .column-inner-text{
                     @media #{$breakpoint-xl-up} {
                        padding-top: 25px;
                     }
                     p{
                        font-weight: 500;
                     }
                  }
                  p{
                     font-weight: 400;
                     font-size: 14px;
                     padding: 0 $gutter;
                     @media #{$breakpoint-xl-up} {
                        font-size: 1rem;
                     }
                  }
               }
            }
            &:first-child{
               .colum-inner{
                  background: $primary-color;
                  color:$secondary-color;
                  font-weight: 700;
                  font-size: 2rem;
                  @media #{$breakpoint-xl-up} {
                     font-size: 1.25rem;
                     line-height: 1.3;
                  }
                  .column-inner-text{
                     padding: $gutter*2 0 0;
                     &.first-col{
                        p{
            
                           @media #{$breakpoint-xl-up} {
                              padding: 0 $gutter*3;
                              font-size: 18px;
                           }
                        }
                        img{
                           width: 160px;
                        }
                     }
                     @media #{$breakpoint-xl-up} {
                        padding: 70px 0 0;
                     }
                  }
               }
            }
            &:nth-last-child(2) .btn{
               letter-spacing: -1px;
            }
            // &:not(:last-child){
            //    .colum-inner{
            //       @media #{$breakpoint-xl-up} {
            //          margin:0 1rem 0 0;
            //       }
            //    }
            // }
            .colum-inner{
               border-radius: 5px;
               height: 100% ;
               margin:0 1rem;
               .column-inner-text{
                  margin:0 auto;
                  padding-bottom: 40px;
                  .column-inner-img{
                     margin-bottom: 21px;
                     img{
                        width: 50%;
                        margin-top: $gutter;
                        @media #{$breakpoint-xl-up} {
                           width: 90px;
                           margin: 0;
                        }
                     }
                  }
                  .column-inner-title{
                     margin-bottom: 30px;
                     // margin-bottom: 12px;
                     font-weight: 700;
                     font-size: 14px;
                     padding: 0 $gutter;
                     text-transform: uppercase;
                     @media #{$breakpoint-xl-up} {
                        font-size: 1.25rem;
                        padding: 0 $gutter*2;
                     }
                     &.sub-title{
                        text-transform: none;
                     }
                  }
                  p{
                     margin-bottom: 29px;
                     padding: 0 $gutter;
                     font-size: 15px;
                  }
                  .picto-whatsapp{
                     display: inline-block;
                     width: 59px;
                     @media #{$breakpoint-xl-up} {
                        display: none;
                     }
                  }
                  .btn{
                     max-width: 145px;
                     font-size: 15px;
                     @media #{$breakpoint-xl-up} {

                     }
                  }
               }
            }
         }
      }
   }
   .section3{
      background:url($img-path+'bg-section3.jpg') no-repeat;
      background-size: cover;
      color:$secondary-color;
      height: 4691px;
      @media #{$breakpoint-xl-up} {
         height: 1863px;
      }
      .container{
         padding-top: 715px;
         @media #{$breakpoint-xl-up} {
            padding-top: 340px;
         }
         h2, .sub-title{
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: $gutter*2;
         }
         h2{
            font-size: 25px;
            @media #{$breakpoint-xl-up} {
               font-size: 2.625rem;
               
            }
         }
         .sub-title{
            font-size: 25px;
            padding: 0 60px;
            @media #{$breakpoint-xl-up} {
               font-size: 2.625rem;
               span{
                  display: block;
               }
            }
         }
         // .sub-title{
         //    &.mW{
         //       display: flex;
         //       justify-content: center;
         //       margin: 0 auto;
         //    }
         // }
         p{
            margin-bottom: $gutter/2;
            font-size: 400;
            font-size: 22px;
            @media #{$breakpoint-xl-up} {
               font-size: 1.375rem;
            }
         }
         .block-btn{
            max-width: 340px;
            margin:0 auto;
            .btn{
               font-weight: 700;
            }
         }
         .sub-title{
            margin-top: $gutter*3;
         }
      }
   }
   .section4{
      .container{
      padding-top: 80px;
      @media #{$breakpoint-xl-up} {
         height: 1275px; 
      }
         h2{
            margin-bottom: 59px;
            color: $business-color;
            font-size: 25px;
            @media #{$breakpoint-xl-up} {
               font-size: 2.625rem;
            }
         }
         
         .slider-message{
            position: relative;
            .swiper-container {
               width: 100%;
               height: 100%;
               margin-left: auto;
               margin-right: auto;
               padding:50px 0;
             }
         
             .swiper-slide {
               font-size: 18px;
               background: #fff;
         
               /* Center slide text vertically */
               display: -webkit-box;
               display: -ms-flexbox;
               display: -webkit-flex;
               display: flex;
               -webkit-box-pack: center;
               -ms-flex-pack: center;
               -webkit-justify-content: center;
               justify-content: center;
               -webkit-box-align: center;
               -ms-flex-align: center;
               -webkit-align-items: center;
               align-items: center;
               .slide-message{
                  text-align: left;
                  max-width: 569px;
                  font-size: 0.75rem;
                  color: #646464;
                  font-weight: 400;
                  p{
                     margin-bottom: 16px;
                     font-weight: 100;
                  }
                  .slide-message-author{
                     text-align: right;
                     .slide-message-name{
                        color: #f4a135;
                        font-weight: 500;
                     }
                  }
               }
             }
             .swiper-pagination{
               .swiper-pagination-bullet{
                  height: 10px;
                  width: 10px;
               }
               .swiper-pagination-bullet-active{
                  background: $business-color;
               }
             }
             .swiper-button-next, .swiper-button-prev{
                height: 25px;
                width: 26px;
                &:after{
                  display: none;
               }
             }
             .swiper-button-next{
                
               background:url($img-path+'nav-next.png') no-repeat;

             }
            .swiper-button-prev{
               background:url($img-path+'nav-prev.png') no-repeat;
            }
         }
      }
      @media #{$breakpoint-xl-up} {
         height: 954px;
      }
   }
   .section5{
      max-height: 1245px;
      background:url($img-path+'bg-mobile-section5.jpg') no-repeat;
      background-size: cover;
      @media #{$breakpoint-xl-up} {
         background:url($img-path+'bg-section5.jpg') no-repeat;
         height: auto;
      }
      .container{
         padding-top: 50px;
         @media #{$breakpoint-xl-up} {
            padding-top:0;
         }
         .block-testimony,.block-details-don{
            display: flex;
            align-items: center;
            @media #{$breakpoint-xl-up} {
               align-items: start;
               padding-top: 162px;
            }
         }
         .block-testimony{
            font-size: 1.562rem;
            justify-content: center;
            padding-bottom: 50px;
            @media #{$breakpoint-xl-up} {
               height: 947px;
               padding-right: 55px;
               justify-content: flex-end;
               padding-bottom: 0;
            }
            .testimony{
               @media #{$breakpoint-xl-up} {
                  max-width: 500px;
               }
               .text{
                  color: #646464;
                  p{
                     text-align: justify;
                     font-weight: 400;
                     font-size: 16px;
                     @media #{$breakpoint-xl-up} {
                        font-size: 1.25rem;
                     }
                     &:first-child{
                        font-weight: 700;
                     }
                     &:not(:last-child){
                        margin-bottom: $gutter*2;
                     }
                     &:last-child{
                        margin: 0 0 72px;
                     }
                     span{
                        font-weight: 700;
                        color: $business-color;
                     }
                  }
               }
               .profile{
                  justify-content: center;
                  margin-top: -45px;
                  @media #{$breakpoint-xl-up} {
                     margin-top:0;
                  }
                  .profile-details{
                     display: flex;
                     align-items:center;
                     padding-left:$gutter*2;
                     line-height: 1.3;
                     @media #{$breakpoint-xl-up} {
                     }
                     p{
                        font-size: 14px;
                        @media #{$breakpoint-xl-up} {
                           font-size: 1.25rem;
                        }
                     }
                     span{
                        color: $primary-color;
                        font-weight: 700;
                     }
                  }
               }
            }
         }
         .block-details-don{
            height: 570px;
            justify-content: center;
            @media #{$breakpoint-xl-up} {
               height: 947px;
               padding-left: 55px;
               justify-content: flex-start;
            }
            .details-don{
               color: $secondary-color;
               font-size: 18px;
               p, h2{
                  margin-bottom: $gutter*2;
               }
               h2{
                  text-transform: none;
               }
               p{
                  &:not(.sub-title){
                     font-weight: 400;
                     @media #{$breakpoint-xl-up} {
                        font-size: 1.25rem;
                     }
                  }
               }
               h2, .sub-title{
                  font-weight: 700;
                  @media #{$breakpoint-xl-up} {
                     font-size: 1.687rem;
                  }
               }
               .sub-title{
                  span{
                     font-weight: 400;
                  }
               }
               .last-sub-title{
                  font-weight: 400;
               }
               .bnt-content{
                  max-width: 268px;
                  margin:0 auto;
               }
            }
         }
      }
   }
   .section6{
      display: none;
      background: #c6b8a8;
      color:$secondary-color;
      @media #{$breakpoint-xl-up} {
        display: block;
      }
      .container{
         padding: 144px 0;
         h2{
            margin-bottom: 45px;
            font-size: 2.625rem;
         }
         .numbers-block__row{
            span{
               font-weight: 700;
               font-size: 3.562rem;
            }
            .numbers-block__text{
               font-size: 2rem;
            }
         }
      }
   }
   main{
      padding: $gutter*2;
      .flex-demo{
         border: 1px dashed red;
         text-align: center;
         font-size: 26px;
         color: whi;
         padding: $gutter;
         background-color: black;
         // @media #{$breakpoint-md-up} {
         //    font-size: 24px;
         //    color: green;
         // }
         // @media #{$breakpoint-lg-up} {
         //    font-size: 22px;
         //    color: blue;
         // }
         @media #{$breakpoint-xl-up} {
            color: red;
         }
         &.spacer{
            padding: 0;
            border: 0;
            margin-top: $gutter*2;
            background: none;
            div{
               border: 1px dashed red;
               margin: 0;
               padding: $gutter 0;
               background-color: white;
               @media #{$breakpoint-md-up} {
                  margin: 0 $gutter;
               }
            }
         }
      }
   }

   footer{
      // background-color:orange;
      // padding: $gutter*2;
      // font-size: 40px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      .footer-top{
         height: auto;
         @media #{$breakpoint-md-up} {
            height: 229px;
         }
         text-align: center;
         .flex-center{
            display: flex;
            align-items: center;
         }
         .container{
            padding: $gutter*2 0;
            @media #{$breakpoint-md-up} {
               padding: 76px 0 0 0;
            }
            // .footer-logo{
            //    margin-bottom: 48px;
            // }
            .footer-logo{
               width: 80%;
               display: flex;
               justify-content: center;
               margin: 0 auto;
               a{
                  width: 80%;
               }
            }
            .share-logo{
               margin-top: $gutter*2;
               display: flex;
               justify-content: center;
               @media #{$breakpoint-xl-up} {
                  margin-bottom: 25px;
               }
               a{
                  img{
                     width: 50px;
                  }
               }
            }
            .footer-link{
               color: #c6b8a8;
               font-weight: 500;
               font-size: 11px;
               margin-top: $gutter*2;
               display: flex;
               justify-content: center;
               @media #{$breakpoint-md-up} {
                  font-size: 16px;
                  font-size: 1.875rem;
               }
               a{
                  margin: 0 10px;
                  &:hover{
                     color: $primary-color;
                  }
               }
               
            }
         }
      }
      .footer-bottom{
         font-weight: 400;
         font-size: 15px;
         background: $primary-color;
         color: $secondary-color;
         padding: 30px 0 70px;
         @media #{$breakpoint-md-up} {
            padding: 43px 0;
            font-size: 17px;
         }
      }
   }
}