.section3{ 
    .container{
        .block-tabs{
            max-width: 1180px;
            margin: 0 auto;
            .ui-widget.ui-widget-content{
                border: 0;
                padding: 0;
                background: none;
            }
            .ui-helper-clearfix:before, .ui-helper-clearfix:after{
                display: none;
            }
            .ui-tabs-nav{
                padding: 0;
            }
            .ui-tabs .ui-tabs-nav li{
               margin: 0;
               width: 376px;
               outline-offset:0;
            }
            .ui-tabs .ui-tabs-nav .ui-tabs-anchor{
                width: 100%;
            }
            .ui-widget-header{
                background: none;
                border: 0;
            }
            .ui-state-default{
                border: 0;
            }
            .ui-state-default, .ui-state-hover{
                background: $secondary-color;
            }
            .ui-widget-content{
                background: $secondary-color;
            }
            .between{
                justify-content: space-between;
             }
             .ui-tabs-anchor{
                outline: 0;
             }
             .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
                border-bottom-right-radius: 10px;
             }
             .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
                border-bottom-left-radius: 10px;
             }
             .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
                border-top-left-radius: 10px;
             }
             .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
                border-top-right-radius: 10px;
             }
             .ui-tabs .ui-tabs-nav li.ui-tabs-active{
                .tabs-inner::after{
                    display: none;
                }
                a{
                    cursor: pointer;
                }
             }
             .tabs-inner{
                 position: relative;
                 height: 100%;
                 &::after{
                     content: '';
                     display: block;
                     position: absolute;
                     bottom: 0;
                     left: 0;
                     right: 0;
                     box-shadow:5px -2px 10px 1px  rgba(0,0,0,0.3);
                 }
                a{
                    height: 209px;
                    cursor: pointer;
                    color:$primary-color;
                    background-position: 53px center;
                    background-repeat: no-repeat;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    font-weight: 700;
                    font-size: 1.25rem;
                    text-align: left;
                    text-transform: uppercase;
                    span{
                        padding-right: 70px;
                    }
                }
             } 
             .tabs1 a{
                background-image: url($img-path+'picto-tabs1.png');
             }
             .tabs2 a{
                background-image: url($img-path+'picto-tabs2.png');
             }
             .tabs3 a{
                background-image: url($img-path+'picto-tabs3.png');
             }
             .block-text{
                 display: flex;
                 flex-direction: column;
                 p{
                    font-size: 1.187rem;
                    font-weight: 400;
                    text-align: justify;
                     span{
                         font-weight: 700;
                     }
                 }
             }
             .ui-tabs .ui-tabs-panel{
                padding: 2.8em 1.4em;
             }
         }
    }
}