/** =================== MONTSERRAT =================== **/

@mixin FontMontserrat($weight) {
    $file-name: 'Montserrat';

    @if($weight == 400) {
        $file-name: 'Montserrat-Regular';
    }
    @if($weight == 100) {
        $file-name: 'Montserrat-Italic';
    }
    @else if($weight == 500) {
        $file-name: 'Montserrat-SemiBold';
    }
    @else if($weight == 600) {
        $file-name: 'Montserrat-Medium';
    }
    @else if($weight == 700) {
        $file-name: 'Montserrat-Bold';
    }
    @else if($weight == 900) {
        $file-name: 'Montserrat-ExtraBold';
    }
}
